<imigize class="{{ns}}">
    <imigize class="{{ns "top"}}">
        <imigize class="{{ns "top-right"}}">

        </imigize>
        <imigize class="{{ns "top-left"}}">
            <imigize class="{{ns "product-brand"}}"></imigize>
            <imigize class="{{ns "product-model"}}"></imigize>
        </imigize>
        <imigize class="imigize-clear-right"></imigize>
    </imigize>
    <imigize class="{{ns "bottom"}}">
        <imigize class="{{ns "size-selector"}}"></imigize>
        <imigize class="{{ns "content"}}">
            <imigize class="{{ns "content-left"}}">
                <imigize class="{{ns "content-left-top"}}">
                    <imigize class="{{ns "title"}}"></imigize>
                    <imigize class="{{ns "description"}}"></imigize>
                </imigize>
            </imigize>
            <imigize class="{{ns "content-right"}}">

                <imigize class="{{ns "sector-wrapper"}}">
                </imigize>

            </imigize>
        </imigize>
        <imigize class="{{ns "description-extended"}}">
            <a class="{{ns "link-for-about"}}" target="_blank">
                {{_ "Подробнее об оценках"}}
            </a>
        </imigize>
    </imigize>
</imigize>